# -*- coding: utf-8 -*-
params = {
# IRC configuration
'network':'irc.example.net',
#'port':6667,
'chans':["#channel"],
'nick':"urlbot",
#'irc_timeout':360.0,
#'nickserv_pass':None,
'tls': False, # set to True to enable TLS
# Path to a CA certificate to be trusted. If set to None or commented, the system’s trusted CA
# certificates will be used.
#'cafile': '/path/to/certificate.pem',

# Misc
#'debug':0,
#'charset':'utf-8', # charset of the IRC server
#'max_page_size': 1048576, # by default fetch only the first Mo of a page
#'title_length': 300, # by default, only display the first 300 char of a page title
#'message_delay': 3, # seconds to wait before processing next requests

# A list of regular expressions. Urlbot will ignore url matching any.
# regexpr special chars need to be escaped using \\.
#'blacklist': ["https://.*", "https://www\\.youtube\\.com/.*"],

# A list of regular expressions. Urlbot will ignore users matching any. Users are of the form
# nick!username@host. regexpr special chars need to be escaped using \\.
#'ignore':[".*@cransiam\\.24i\\.fioc3c\\.IP", "root!.*"],
# If link do not point the html, or html page have no title, print anyway some infos
# (type, format, size).
#'fallback_notitle': True,
}
