# -*- coding: utf-8 -*-
params = {
# IRC configuration
'network':'irc.example.net',
#'port':6667,
'chans':["#channel"],
'nick':"urlbot",
#'irc_timeout':360.0,
#'nickserv_pass':None,

# Misc
#'debug':0,
#'charset':'utf-8',
#'max_page_size': 1048576, # by default fetch only the first Mo of a page
#'title_length': 300, # by default, only display the first 300 char of a page title
#'message_delay': 3, # seconds to wait before processing tow requests
}
